.Project {
  color: var(--main-color-font);
  font-weight: bold;
  width: 600px;
  height: 50px;
  background-color: var(--main-color-sidebar);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}
