.Button {
  width: 100%;
  line-height: var(--line-height-m);
  font-size: var(--font-size-m);
  border: 1px solid var(--border-color);
  background-color: var(--button-background-color);
  cursor: pointer;
}
